body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .profile-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  
  .back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #37a2c6;
    cursor: pointer;
  }
  
  .profile-header {
    text-align: center;
    background: linear-gradient(to bottom right, #47296873, #3e609ac7);
    color: #fff;
    padding: 40px 20px 20px;
    position: relative;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .profile-stats div {
    text-align: center;
  }
  
  .profile-stats span {
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  
  .profile-info {
    padding: 20px;
    height:70vh;
  }
  
  .profile-info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .profile-icon {
    color: #307897b0;
    margin-right: 10px;
    font-size: 17px;
  }
  
  .label {
    font-size: 12px;
    color: #888;
    margin: 0;
    line-height: 1.4;
  }
  
  .value {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 5px 0 0; 
    line-height: 1.6;
  }

.change-password-btn {
  background-color: #007bffd1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: block;
}

.change-password-btn:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #218838;
}

.close-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: #c82333;
}

  